.bgcolor-0 {
  background-color: transparent;
}
.bgcolor-1 {
  background-color: #fafafa77;
}
.bgcolor-2 {
  background-color: #fafafaaa;
}
.bgcolor-3 {
  background-color: #fafafa;
}
.bgcolor-4 {
  background-color: #f8bbd0;
}
.bgcolor-5 {
  background-color: #ef5350;
}
.bgcolor-6 {
  background-color: #e57373;
}
.bgcolor-7 {
  background-color: #ef9a9a;
}

.bgcolor-8 {
  background-color: #fff3e0;
}
.bgcolor-9 {
  background-color: #ffa726;
}
.bgcolor-10 {
  background-color: #ffb960;
}
.bgcolor-11 {
  background-color: #ffcc80;
}
.bgcolor-12 {
  background-color: #ffe0b2;
}
.bgcolor-13 {
  background-color: #ffee58;
}
.bgcolor-14 {
  background-color: #fff59d;
}
.bgcolor-15 {
  background-color: #fff9c4;
}

.bgcolor-16 {
  background-color: #dcedc8;
}
.bgcolor-17 {
  background-color: #8bc34a;
}
.bgcolor-18 {
  background-color: #aed581;
}
.bgcolor-19 {
  background-color: #bfdf9f;
}
.bgcolor-20 {
  background-color: #5ee2b0;
}
.bgcolor-21 {
  background-color: #00ce3c;
}
.bgcolor-22 {
  background-color: #00ba43;
}
.bgcolor-23 {
  background-color: #119c3f;
}

.bgcolor-24 {
  background-color: #57ecc1;
}
.bgcolor-25 {
  background-color: #00e864;
}
.bgcolor-26 {
  background-color: #00e05c;
}
.bgcolor-27 {
  background-color: #00d545;
}
.bgcolor-28 {
  background-color: #7afddd;
}
.bgcolor-29 {
  background-color: #00e4c5;
}
.bgcolor-30 {
  background-color: #00e0b2;
}
.bgcolor-31 {
  background-color: #01eec6;
}

.bgcolor-32 {
  background-color: #49efef;
}
.bgcolor-33 {
  background-color: #00e7d8;
}
.bgcolor-34 {
  background-color: #00e5d1;
}
.bgcolor-35 {
  background-color: #01efde;
}
.bgcolor-36 {
  background-color: #6addff;
}
.bgcolor-37 {
  background-color: #00dafe;
}
.bgcolor-38 {
  background-color: #01d6ff;
}
.bgcolor-39 {
  background-color: #08acdc;
}

.bgcolor-40 {
  background-color: #73cefe;
}
.bgcolor-41 {
  background-color: #0d98f7;
}
.bgcolor-42 {
  background-color: #148de4;
}
.bgcolor-43 {
  background-color: #2a77c9;
}
.bgcolor-44 {
  background-color: #8693ff;
}
.bgcolor-45 {
  background-color: #2196f3;
}
.bgcolor-46 {
  background-color: #4668f6;
}
.bgcolor-47 {
  background-color: #4153dc;
}

.bgcolor-48 {
  background-color: #b095ff;
}
.bgcolor-49 {
  background-color: #8453fd;
}
.bgcolor-50 {
  background-color: #634acd;
}
.bgcolor-51 {
  background-color: #5749c5;
}
.bgcolor-52 {
  background-color: #ffb7ff;
}
.bgcolor-53 {
  background-color: #e863fb;
}
.bgcolor-54 {
  background-color: #d655ed;
}
.bgcolor-55 {
  background-color: #d14fe9;
}

.bgcolor-56 {
  background-color: #fc99e3;
}
.bgcolor-57 {
  background-color: #e736c2;
}
.bgcolor-58 {
  background-color: #e52fbe;
}
.bgcolor-59 {
  background-color: #e334b6;
}
.bgcolor-60 {
  background-color: #ed353e;
}
.bgcolor-61 {
  background-color: #ffa726;
}
.bgcolor-62 {
  background-color: #f4df0b;
}
.bgcolor-63 {
  background-color: #8bc34a;
}

.bgcolor-64 {
  background-color: #5cd100;
}
.bgcolor-65 {
  background-color: #00d29e;
}
.bgcolor-66 {
  background-color: #2388ff;
}
.bgcolor-67 {
  background-color: #3669fd;
}
.bgcolor-68 {
  background-color: #00b4d0;
}
.bgcolor-69 {
  background-color: #475cdc;
}
.bgcolor-70 {
  background-color: #fafafadd;
}
.bgcolor-71 {
  background-color: #fafafacc;
}

.bgcolor-72 {
  background-color: #f72737;
}
.bgcolor-73 {
  background-color: #d2ea7b;
}
.bgcolor-74 {
  background-color: #c8df10;
}
.bgcolor-75 {
  background-color: #7fe422;
}
.bgcolor-76 {
  background-color: #00c931;
}
.bgcolor-77 {
  background-color: #00d7a6;
}
.bgcolor-78 {
  background-color: #00d8fc;
}
.bgcolor-79 {
  background-color: #0b96fc;
}

.bgcolor-80 {
  background-color: #585cf5;
}
.bgcolor-81 {
  background-color: #ac59f0;
}
.bgcolor-82 {
  background-color: #d980dc;
}
.bgcolor-83 {
  background-color: #b8814a;
}
.bgcolor-84 {
  background-color: #ff9800;
}
.bgcolor-85 {
  background-color: #abdf22;
}
.bgcolor-86 {
  background-color: #9ee154;
}
.bgcolor-87 {
  background-color: #66bb6a;
}

.bgcolor-88 {
  background-color: #3bda47;
}
.bgcolor-89 {
  background-color: #6fdeb9;
}
.bgcolor-90 {
  background-color: #27dbda;
}
.bgcolor-91 {
  background-color: #9cc8fd;
}
.bgcolor-92 {
  background-color: #79b8f7;
}
.bgcolor-93 {
  background-color: #afafef;
}
.bgcolor-94 {
  background-color: #d580eb;
}
.bgcolor-95 {
  background-color: #f74fca;
}

.bgcolor-96 {
  background-color: #ea8a1f;
}
.bgcolor-97 {
  background-color: #dbdb08;
}
.bgcolor-98 {
  background-color: #9cd60d;
}
.bgcolor-99 {
  background-color: #f3d335;
}
.bgcolor-100 {
  background-color: #c8af41;
}
.bgcolor-101 {
  background-color: #00ca69;
}
.bgcolor-102 {
  background-color: #24d2b0;
}
.bgcolor-103 {
  background-color: #757ebe;
}

.bgcolor-104 {
  background-color: #5388db;
}
.bgcolor-105 {
  background-color: #e5c5a6;
}
.bgcolor-106 {
  background-color: #e93b3b;
}
.bgcolor-107 {
  background-color: #f9a2a1;
}
.bgcolor-108 {
  background-color: #ed9c65;
}
.bgcolor-109 {
  background-color: #e1ca72;
}
.bgcolor-110 {
  background-color: #b8da78;
}
.bgcolor-111 {
  background-color: #98d52c;
}

.bgcolor-112 {
  background-color: #626cbd;
}
.bgcolor-113 {
  background-color: #cac8a0;
}
.bgcolor-114 {
  background-color: #90d4c2;
}
.bgcolor-115 {
  background-color: #ceddfe;
}
.bgcolor-116 {
  background-color: #beccf7;
}
.bgcolor-117 {
  background-color: #fafafa55;
}
.bgcolor-118 {
  background-color: #fafafa77;
}
.bgcolor-119 {
  background-color: #fafafaaa;
}

.bgcolor-120 {
  background-color: #fe1624;
}
.bgcolor-121 {
  background-color: #cd2724;
}
.bgcolor-122 {
  background-color: #9ccc65;
}
.bgcolor-123 {
  background-color: #009c1b;
}
.bgcolor-124 {
  background-color: #ffff00;
}
.bgcolor-125 {
  background-color: #beb212;
}
.bgcolor-126 {
  background-color: #f5d01d;
}
.bgcolor-127 {
  background-color: #e37829;
}
