.pad {
  display: grid;
  grid-template-columns: repeat(9, minmax(0, 1fr));
  gap: 4px;

  /* width: 100%; */
  /* min-height: 100%; */
  /* height: 100%; */
  /* justify-content: start; */
  align-content: stretch;
}

.padButton {
  background-color: #808080;
  color: black;
  box-sizing: border-box;
}

.padButtonPressedBg {
  background-color: #606060;
}
.padButtonMCSelectedBg {
  background-color: yellow;
}
